<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.QualityReportTemplateMapper">
    <resultMap type="com.ruoyi.report.domain.QualityReportTemplate" id="QualityReportTemplateResult">
        <id     property="reportTemplateId"  column="report_template_id"     />
        <result property="reportTemplateName"  column="report_template_name"   />
        <result property="reportTemplateFile"  column="report_template_file"   />
        <result property="reportTemplateSize"  column="report_template_size"   />
        <result property="parseContent"  column="parse_content"   />
        <result property="status"  column="status"   />
        <result property="createBy"  column="create_by"   />
        <result property="createTime"  column="create_time"   />
        <result property="updateBy"  column="update_by"   />
        <result property="updateTime"  column="update_time"   />
        <result property="remark"  column="remark"   />
    </resultMap>

    <sql id="selectQualityReportTemplateVo">
        select report_template_id, report_template_name, report_template_file, report_template_size, parse_content, status, create_by, create_time, update_by, update_time, remark 
        from quality_report_template
    </sql>

    <select id="selectQualityReportTemplateByReportTemplateId" parameterType="Long" resultMap="QualityReportTemplateResult">
        <include refid="selectQualityReportTemplateVo" />
        where report_template_id = #{reportTemplateId}
    </select>

    <select id="selectQualityReportTemplateList" parameterType="com.ruoyi.report.domain.QualityReportTemplate" resultMap="QualityReportTemplateResult">
        <include refid="selectQualityReportTemplateVo" />
        <where>
            <if test="reportTemplateName != null and reportTemplateName != ''">
                and report_template_name like concat('%', #{reportTemplateName}, '%')
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
        </where>
    </select>

    <insert id="insertQualityReportTemplate" parameterType="com.ruoyi.report.domain.QualityReportTemplate" useGeneratedKeys="true" keyProperty="reportTemplateId">
        insert into quality_report_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportTemplateName != null">report_template_name,</if>
            <if test="reportTemplateFile != null">report_template_file,</if>
            <if test="reportTemplateSize != null">report_template_size,</if>
            <if test="parseContent != null">parse_content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportTemplateName != null">#{reportTemplateName},</if>
            <if test="reportTemplateFile != null">#{reportTemplateFile},</if>
            <if test="reportTemplateSize != null">#{reportTemplateSize},</if>
            <if test="parseContent != null">#{parseContent},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateQualityReportTemplate" parameterType="com.ruoyi.report.domain.QualityReportTemplate">
        update quality_report_template
        <set>
            <if test="reportTemplateName != null">report_template_name = #{reportTemplateName},</if>
            <if test="reportTemplateFile != null">report_template_file = #{reportTemplateFile},</if>
            <if test="reportTemplateSize != null">report_template_size = #{reportTemplateSize},</if>
            <if test="parseContent != null">parse_content = #{parseContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where report_template_id = #{reportTemplateId}
    </update>

    <delete id="deleteQualityReportTemplateByReportTemplateId" parameterType="Long">
        delete from quality_report_template where report_template_id = #{reportTemplateId}
    </delete>

    <delete id="deleteQualityReportTemplateByReportTemplateIds" parameterType="Long[]">
        delete from quality_report_template where report_template_id in 
        <foreach item="reportTemplateId" collection="array" open="(" separator="," close=")">
            #{reportTemplateId}
        </foreach>
    </delete>
</mapper>