<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.report.mapper.QualityReportMapper">
    
    <resultMap type="QualityReport" id="QualityReportResult">
        <result property="reportId"    column="report_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="analysisId"    column="analysis_id"    />
        <result property="reportName"    column="report_name"    />
        <result property="reportContent"    column="report_content"    />
        <result property="reportFile"    column="report_file"    />
        <result property="reportDate"    column="report_date"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectQualityReportVo">
        select report_id, course_id, analysis_id, report_name, report_content, report_file, report_date, status, create_by, create_time, update_by, update_time, remark from quality_report
    </sql>

    <select id="selectQualityReportList" parameterType="QualityReport" resultMap="QualityReportResult">
        <include refid="selectQualityReportVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="analysisId != null "> and analysis_id = #{analysisId}</if>
            <if test="reportName != null  and reportName != ''"> and report_name like concat('%', #{reportName}, '%')</if>
            <if test="reportContent != null  and reportContent != ''"> and report_content = #{reportContent}</if>
            <if test="reportFile != null  and reportFile != ''"> and report_file = #{reportFile}</if>
            <if test="reportDate != null "> and report_date = #{reportDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectQualityReportByReportId" parameterType="Long" resultMap="QualityReportResult">
        <include refid="selectQualityReportVo"/>
        where report_id = #{reportId}
    </select>

    <insert id="insertQualityReport" parameterType="QualityReport" useGeneratedKeys="true" keyProperty="reportId">
        insert into quality_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="analysisId != null">analysis_id,</if>
            <if test="reportName != null and reportName != ''">report_name,</if>
            <if test="reportContent != null">report_content,</if>
            <if test="reportFile != null">report_file,</if>
            <if test="reportDate != null">report_date,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="analysisId != null">#{analysisId},</if>
            <if test="reportName != null and reportName != ''">#{reportName},</if>
            <if test="reportContent != null">#{reportContent},</if>
            <if test="reportFile != null">#{reportFile},</if>
            <if test="reportDate != null">#{reportDate},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateQualityReport" parameterType="QualityReport">
        update quality_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="analysisId != null">analysis_id = #{analysisId},</if>
            <if test="reportName != null and reportName != ''">report_name = #{reportName},</if>
            <if test="reportContent != null">report_content = #{reportContent},</if>
            <if test="reportFile != null">report_file = #{reportFile},</if>
            <if test="reportDate != null">report_date = #{reportDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where report_id = #{reportId}
    </update>

    <delete id="deleteQualityReportByReportId" parameterType="Long">
        delete from quality_report where report_id = #{reportId}
    </delete>

    <delete id="deleteQualityReportByReportIds" parameterType="String">
        delete from quality_report where report_id in 
        <foreach item="reportId" collection="array" open="(" separator="," close=")">
            #{reportId}
        </foreach>
    </delete>
</mapper>