<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AlipayMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.Alipay">
            <id property="alid" column="alid" jdbcType="INTEGER"/>
            <result property="out_trade_no" column="out_trade_no" jdbcType="VARCHAR"/>
            <result property="oid" column="oid" jdbcType="INTEGER"/>
            <result property="totalAmount" column="totalAmount" jdbcType="VARCHAR"/>
            <result property="subject" column="subject" jdbcType="VARCHAR"/>
            <result property="add_time" column="add_time" jdbcType="DATE"/>
            <result property="update_time" column="update_time" jdbcType="DATE"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        alid,out_trade_no,oid,totalAmount,
        subject,add_time,update_time,
        state
    </sql>
</mapper>
