<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.Goods">
            <id property="gid" column="GID" jdbcType="INTEGER"/>
            <result property="gname" column="GName" jdbcType="VARCHAR"/>
            <result property="gdesc" column="GDesc" jdbcType="VARCHAR"/>
            <result property="gstock" column="GStock" jdbcType="INTEGER"/>
            <result property="gvalue" column="GValue" jdbcType="INTEGER"/>
            <result property="cid" column="CID" jdbcType="INTEGER"/>
            <result property="gseller" column="GSeller" jdbcType="VARCHAR"/>
            <result property="gshelf" column="GShelf" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
