<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.domain.User">
            <id property="uaccount" column="UAccount" jdbcType="VARCHAR"/>
            <result property="upassword" column="UPassword" jdbcType="VARCHAR"/>
            <result property="uphone" column="UPhone" jdbcType="VARCHAR"/>
            <result property="ucategory" column="UCategory" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="All_Column">
        (UAccount, UPassword, UPhone,UCategory)
    </sql>
    <update id="update_pwd">
        update User set  UPassword = #{newPwd} where UAccount = #{account}
    </update>
    <update id="update_uinfo">
        update User set UPhone = #{phone}  where UAccount = #{account}
    </update>

    <select id="Get_Password_By_Account" resultType="string">
        SELECT UPassword from User where UAccount = #{account}
    </select>

    <select id="Show_All" resultMap="BaseResultMap">
        select * from User
    </select>

    <select id="findUser" resultType="com.example.domain.User">
        SELECT * FROM User WHERE UAccount = #{account} AND UPassword = #{password}
    </select>

    <select id="select_By_Account" resultType="com.example.domain.User">
        select * from User where UAccount = #{account}
    </select>
    <insert id="Add_User">
        insert into User <include refid="All_Column" /> values (#{account},#{password},#{phone},#{category})
    </insert>
</mapper>
