<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.review.mapper.PaperReviewMapper">
    
    <resultMap type="PaperReview" id="PaperReviewResult">
        <result property="reviewId"    column="review_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="courseName"    column="course_name"    />
        <result property="reviewName"    column="review_name"    />
        <result property="reviewFile"    column="review_file"    />
        <result property="reviewSize"    column="review_size"    />
        <result property="parseContent"    column="parse_content"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPaperReviewVo">
        select p.review_id, p.course_id, c.course_name, p.review_name, p.review_file, p.review_size, p.parse_content, p.status, p.del_flag, p.create_by, p.create_time, p.update_by, p.update_time, p.remark 
        from paper_review p
        left join course c on p.course_id = c.course_id
    </sql>

    <select id="selectPaperReviewList" parameterType="PaperReview" resultMap="PaperReviewResult">
        <include refid="selectPaperReviewVo"/>
        <where>  
            p.del_flag = '0'
            <if test="courseId != null "> and p.course_id = #{courseId}</if>
            <if test="courseName != null  and courseName != ''"> and c.course_name like concat('%', #{courseName}, '%')</if>
            <if test="reviewName != null  and reviewName != ''"> and p.review_name like concat('%', #{reviewName}, '%')</if>
            <if test="reviewFile != null  and reviewFile != ''"> and p.review_file = #{reviewFile}</if>
            <if test="reviewSize != null "> and p.review_size = #{reviewSize}</if>
            <if test="status != null  and status != ''"> and p.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectPaperReviewByReviewId" parameterType="Long" resultMap="PaperReviewResult">
        <include refid="selectPaperReviewVo"/>
        where p.review_id = #{reviewId} and p.del_flag = '0'
    </select>

    <select id="selectPaperReviewByCourseId" parameterType="Long" resultMap="PaperReviewResult">
        <include refid="selectPaperReviewVo"/>
        where p.course_id = #{courseId} and p.del_flag = '0'
    </select>

    <insert id="insertPaperReview" parameterType="PaperReview" useGeneratedKeys="true" keyProperty="reviewId">
        insert into paper_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="reviewName != null and reviewName != ''">review_name,</if>
            <if test="reviewFile != null and reviewFile != ''">review_file,</if>
            <if test="reviewSize != null">review_size,</if>
            <if test="parseContent != null">parse_content,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="reviewName != null and reviewName != ''">#{reviewName},</if>
            <if test="reviewFile != null and reviewFile != ''">#{reviewFile},</if>
            <if test="reviewSize != null">#{reviewSize},</if>
            <if test="parseContent != null">#{parseContent},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updatePaperReview" parameterType="PaperReview">
        update paper_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="reviewName != null and reviewName != ''">review_name = #{reviewName},</if>
            <if test="reviewFile != null and reviewFile != ''">review_file = #{reviewFile},</if>
            <if test="reviewSize != null">review_size = #{reviewSize},</if>
            <if test="parseContent != null">parse_content = #{parseContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where review_id = #{reviewId}
    </update>

    <update id="deletePaperReviewByReviewId" parameterType="Long">
        update paper_review set del_flag = '2' where review_id = #{reviewId}
    </update>

    <update id="deletePaperReviewByReviewIds" parameterType="String">
        update paper_review set del_flag = '2' where review_id in 
        <foreach item="reviewId" collection="array" open="(" separator="," close=")">
            #{reviewId}
        </foreach>
    </update>
</mapper>