<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.goal.mapper.CourseGoalMapper">
    
    <resultMap type="CourseGoal" id="CourseGoalResult">
        <result property="goalId"    column="goal_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="goalCode"    column="goal_code"    />
        <result property="graduationRequirement"    column="graduation_requirement"    />
        <result property="indicatorPoint"    column="indicator_point"    />
        <result property="goalDescription"    column="goal_description"    />
        <result property="goalLevel"    column="goal_level"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCourseGoalVo">
        select goal_id, course_id, goal_code, graduation_requirement, indicator_point, goal_description, goal_level, order_num, status, create_by, create_time, update_by, update_time from course_goal
    </sql>

    <select id="selectCourseGoalList" parameterType="CourseGoal" resultMap="CourseGoalResult">
        <include refid="selectCourseGoalVo"/>
        <where>  
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="goalCode != null  and goalCode != ''"> and goal_code = #{goalCode}</if>
            <if test="graduationRequirement != null  and graduationRequirement != ''"> and graduation_requirement = #{graduationRequirement}</if>
            <if test="indicatorPoint != null  and indicatorPoint != ''"> and indicator_point = #{indicatorPoint}</if>
            <if test="goalDescription != null  and goalDescription != ''"> and goal_description = #{goalDescription}</if>
            <if test="goalLevel != null  and goalLevel != ''"> and goal_level = #{goalLevel}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCourseGoalByGoalId" parameterType="Long" resultMap="CourseGoalResult">
        <include refid="selectCourseGoalVo"/>
        where goal_id = #{goalId}
    </select>

    <insert id="insertCourseGoal" parameterType="CourseGoal" useGeneratedKeys="true" keyProperty="goalId">
        insert into course_goal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="goalCode != null and goalCode != ''">goal_code,</if>
            <if test="graduationRequirement != null and graduationRequirement != ''">graduation_requirement,</if>
            <if test="indicatorPoint != null and indicatorPoint != ''">indicator_point,</if>
            <if test="goalDescription != null">goal_description,</if>
            <if test="goalLevel != null">goal_level,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="goalCode != null and goalCode != ''">#{goalCode},</if>
            <if test="graduationRequirement != null and graduationRequirement != ''">#{graduationRequirement},</if>
            <if test="indicatorPoint != null and indicatorPoint != ''">#{indicatorPoint},</if>
            <if test="goalDescription != null">#{goalDescription},</if>
            <if test="goalLevel != null">#{goalLevel},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCourseGoal" parameterType="CourseGoal">
        update course_goal
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="goalCode != null and goalCode != ''">goal_code = #{goalCode},</if>
            <if test="graduationRequirement != null and graduationRequirement != ''">graduation_requirement = #{graduationRequirement},</if>
            <if test="indicatorPoint != null and indicatorPoint != ''">indicator_point = #{indicatorPoint},</if>
            <if test="goalDescription != null">goal_description = #{goalDescription},</if>
            <if test="goalLevel != null">goal_level = #{goalLevel},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where goal_id = #{goalId}
    </update>

    <delete id="deleteCourseGoalByGoalId" parameterType="Long">
        delete from course_goal where goal_id = #{goalId}
    </delete>

    <delete id="deleteCourseGoalByGoalIds" parameterType="String">
        delete from course_goal where goal_id in 
        <foreach item="goalId" collection="array" open="(" separator="," close=")">
            #{goalId}
        </foreach>
    </delete>
</mapper>