<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achievement.mapper.GoalAchievementMapper">
    
    <resultMap type="GoalAchievement" id="GoalAchievementResult">
        <result property="achievementId"    column="achievement_id"    />
        <result property="analysisId"    column="analysis_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="goalId"    column="goal_id"    />
        <result property="achievementRate"    column="achievement_rate"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectGoalAchievementVo">
        select achievement_id, analysis_id, course_id, goal_id, achievement_rate, status, create_time, update_time from goal_achievement
    </sql>

    <select id="selectGoalAchievementList" parameterType="GoalAchievement" resultMap="GoalAchievementResult">
        <include refid="selectGoalAchievementVo"/>
        <where>  
            <if test="analysisId != null "> and analysis_id = #{analysisId}</if>
            <if test="courseId != null "> and course_id = #{courseId}</if>
            <if test="goalId != null "> and goal_id = #{goalId}</if>
            <if test="achievementRate != null "> and achievement_rate = #{achievementRate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectGoalAchievementByAchievementId" parameterType="Long" resultMap="GoalAchievementResult">
        <include refid="selectGoalAchievementVo"/>
        where achievement_id = #{achievementId}
    </select>

    <insert id="insertGoalAchievement" parameterType="GoalAchievement" useGeneratedKeys="true" keyProperty="achievementId">
        insert into goal_achievement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="analysisId != null">analysis_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="goalId != null">goal_id,</if>
            <if test="achievementRate != null">achievement_rate,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="analysisId != null">#{analysisId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="goalId != null">#{goalId},</if>
            <if test="achievementRate != null">#{achievementRate},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateGoalAchievement" parameterType="GoalAchievement">
        update goal_achievement
        <trim prefix="SET" suffixOverrides=",">
            <if test="analysisId != null">analysis_id = #{analysisId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="goalId != null">goal_id = #{goalId},</if>
            <if test="achievementRate != null">achievement_rate = #{achievementRate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where achievement_id = #{achievementId}
    </update>

    <delete id="deleteGoalAchievementByAchievementId" parameterType="Long">
        delete from goal_achievement where achievement_id = #{achievementId}
    </delete>

    <delete id="deleteGoalAchievementByAchievementIds" parameterType="String">
        delete from goal_achievement where achievement_id in 
        <foreach item="achievementId" collection="array" open="(" separator="," close=")">
            #{achievementId}
        </foreach>
    </delete>
</mapper>