<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.syllabus.mapper.SyllabusMapper">
    
    <resultMap type="Syllabus" id="SyllabusResult">
        <result property="syllabusId"    column="syllabus_id"    />
        <result property="courseId"    column="course_id"    />
        <result property="courseName"    column="course_name"    />
        <result property="syllabusName"    column="syllabus_name"    />
        <result property="syllabusFile"    column="syllabus_file"    />
        <result property="syllabusSize"    column="syllabus_size"    />
        <result property="syllabusTaskId"    column="syllabus_task_id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSyllabusVo">
        select s.syllabus_id, s.course_id, c.course_name, s.syllabus_name, s.syllabus_file, s.syllabus_size, s.syllabus_task_id, s.status, s.del_flag, s.create_by, s.create_time, s.update_by, s.update_time, s.remark 
        from syllabus s
        left join course c on s.course_id = c.course_id
    </sql>

    <select id="selectSyllabusList" parameterType="Syllabus" resultMap="SyllabusResult">
        <include refid="selectSyllabusVo"/>
        <where>  
            s.del_flag = '0'
            <if test="courseId != null "> and s.course_id = #{courseId}</if>
            <if test="courseName != null  and courseName != ''"> and c.course_name like concat('%', #{courseName}, '%')</if>
            <if test="syllabusName != null  and syllabusName != ''"> and s.syllabus_name like concat('%', #{syllabusName}, '%')</if>
            <if test="syllabusFile != null  and syllabusFile != ''"> and s.syllabus_file = #{syllabusFile}</if>
            <if test="syllabusSize != null "> and s.syllabus_size = #{syllabusSize}</if>
            <if test="status != null  and status != ''"> and s.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSyllabusBySyllabusId" parameterType="Long" resultMap="SyllabusResult">
        <include refid="selectSyllabusVo"/>
        where s.syllabus_id = #{syllabusId} and s.del_flag = '0'
    </select>

    <insert id="insertSyllabus" parameterType="Syllabus" useGeneratedKeys="true" keyProperty="syllabusId">
        insert into syllabus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="syllabusName != null and syllabusName != ''">syllabus_name,</if>
            <if test="syllabusFile != null and syllabusFile != ''">syllabus_file,</if>
            <if test="syllabusSize != null">syllabus_size,</if>
            <if test="syllabusTaskId != null">syllabus_task_id,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="syllabusName != null and syllabusName != ''">#{syllabusName},</if>
            <if test="syllabusFile != null and syllabusFile != ''">#{syllabusFile},</if>
            <if test="syllabusSize != null">#{syllabusSize},</if>
            <if test="syllabusTaskId != null">#{syllabusTaskId},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSyllabus" parameterType="Syllabus">
        update syllabus
        <trim prefix="SET" suffixOverrides=",">
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="syllabusName != null and syllabusName != ''">syllabus_name = #{syllabusName},</if>
            <if test="syllabusFile != null and syllabusFile != ''">syllabus_file = #{syllabusFile},</if>
            <if test="syllabusSize != null">syllabus_size = #{syllabusSize},</if>
            <if test="syllabusTaskId != null">syllabus_task_id = #{syllabusTaskId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where syllabus_id = #{syllabusId}
    </update>

    <update id="deleteSyllabusBySyllabusId" parameterType="Long">
        update syllabus set del_flag = '2' where syllabus_id = #{syllabusId}
    </update>

    <update id="deleteSyllabusBySyllabusIds" parameterType="String">
        update syllabus set del_flag = '2' where syllabus_id in 
        <foreach item="syllabusId" collection="array" open="(" separator="," close=")">
            #{syllabusId}
        </foreach>
    </update>
</mapper>