<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>


    <typeHandlers>
        <typeHandler handler="com.example.handler.BlobTypeHandler"/>
    </typeHandlers>
    <!-- 数据库连接相关 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据源，注意这里要配置自己的数据库驱动和连接参数 -->
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC"/>
                <property name="url" value="jdbc:sqlite:D:/学科/大三上/软件工程实践（上）/random-shop2.0/demo/src/main/resources/random-shop.db"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>

</configuration>


